@font-face {
    font-family: LXGWWenKaiLite;
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url(http://zclab.net:66/fonts/LxgwWenKai-Lite/LXGWWenKaiLite-Light.ttf) format(truetype);
}

@font-face {
    font-family: LXGWWenKaiLite;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url(http://zclab.net:66/fonts/LxgwWenKai-Lite/LXGWWenKaiLite-Light.ttf) format(truetype);
}

@font-face {
    font-family: LXGWWenKaiLite;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(http://zclab.net:66/fonts/LxgwWenKai-Lite/LXGWWenKaiLite-Regular.ttf) format(truetype);
}

@font-face {
    font-family: LXGWWenKaiLite;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(http://zclab.net:66/fonts/LxgwWenKai-Lite/LXGWWenKaiLite-Bold.ttf) format(truetype);
}

@font-face {
    font-family: LXGWWenKaiLite;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url(http://zclab.net:66/fonts/LxgwWenKai-Lite/LXGWWenKaiLite-Bold.ttf) format(truetype);
}